html{
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

body{
    max-width:1000px;
    background-image: url('../images/site/small_check.jpg');
    margin: 0 auto;
    font-family: 'Rationale', sans-serif;
    
}

a{
    text-decoration: none;
}

p{
    font-family: 'Iceland', sans-serif;
    margin: .1rem;
}

h1{
    font-size:1.5rem;
    margin: .2rem;
}

.account{
    padding:1rem;
    margin:.5rem;
}

.account li{
    list-style-type: none;
}

.account a{
    color:black;
    text-decoration: none;

}

#inside{
    background-color: white;
    border: 5px solid #4c96d7; 
    border-radius: 1rem;
    max-width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


/*Inside the header*/

.top{
    display:flex;
    justify-content: space-between;
}

.top img{
    max-width: 100px;
}

.top a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    box-shadow: 1px 2px 3px black;
    margin: .5rem;

}

/*WELCOM MESSAGE*/
#welcome, #logOut{
    padding:.5rem;
    margin: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: none;
    }

nav{
    max-width: 100%;
    background-color: #3a3a3a;
    

}

ul{
    margin:0;
  
}
ul.it{
    padding: 0;
}

.it{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content:flex-start;
    margin: 0;
    
}

.it li{
    list-style-type: none;
    padding: .1rem;
 
}

.it a{
    color: white;
    text-decoration: none;
    margin:.5rem;
    
}

.it li a:hover{
    background-color: #4c96d7;
    padding: .5rem;
    margin: 0px;
}





/*Main*/
main{
    padding: 1rem;
   
}




.content{
  width: 100%;
  padding:.5rem ;
  
  
}





.words{
    color:#4c96d7;
    position: absolute;
    padding: .1rem;
    top:-30px;
    font-size: .6rem;
    width: 100%;
   
    
    
}

.button{
  text-align: center;
  padding:.1rem;
}

.button img{
    width:40%;
}

.car{
    position: relative;
    
    
   
}

.words img{
    max-width: 70%;
}




.motto{
    width: 100%;

}

/* bottom flex*/
.bottom {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    

   
}

.one,.two {
    max-width:100%;
    padding:1rem;
}

.links{
    width: 100%;
    
}

.links li{
    padding:.7rem;
    font-size: 1rem;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    max-width: 100%;
   
    
}
.parts{
    padding:1rem;
    max-width: 100%;
    padding: 0;
    margin: .1rem;
    justify-items: stretch;
    
  
}

.parts li{
    list-style-type: none;
    text-align: center;
}

.parts a{
    color:black
    
}

.blue{
    background-color:#4c96d7 ;
    text-align: center;
    max-width: 100%;
    padding: .1rem;
    border:1px solid black;
    
    
}

.blue img{
   max-width: 100%;
   justify-content: center;
   height: 50px;
  
}

.two ul{
    font-size: 1.5rem;
}

/*forms*/
form{
    width: 50%;
    padding: 1rem;
    background-color: #4c96d7;
    border-left: 5px solid #3a3a3a;
    box-shadow: 2px 4px 5px #3a3a3a;
}

input{
    padding:.5rem;
    font-family: 'Rationale', sans-serif;
    font-size: 1.1rem;
    border: none;
    
    
    
}



#management fieldset{
    margin: 0;
}

.centerButton{
    text-align: center;
}





button{
    padding: .6rem;
    background-color:rgb(232, 240, 254);
    color: #000000;
    font-family:'Rationale', sans-serif; 
    font-size: 1.1rem;
  
}

.reroute{
    padding: 1rem;
    list-style-type: none;
    
}

.reroute a{
    text-decoration: none;
    color:#4c96d7;
}


/*footer*/
footer{
    padding: 1rem;
    border-top: 5px solid black;
    text-align: center;
}

footer p {
    margin: 0;
}



/* This is the Mobile view for the CSS showing the cars */

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    padding: .5rem;
    margin: 1rem;
   }
   
   #inv-display li img {
       max-width: 100%;
       
   }

   #inv-display li a{
       padding: .5rem;
       margin: .3rem;
       color: black;
   }

   #inv-image{
    max-width: 100%;
    padding:1rem;

}
    #inv-image img{
        max-width: 100%;
    }

    #inv-text{
        padding:.3rem;
    }

    #inv-text h2{
        margin:0;
    }
    #inv-text p{
        padding:.3rem;
    }

    .inv-description, .inv-stock{
        background-color: rgb(201, 201, 201);
        padding:.5rem;
    }

    /*selected Images*/
    


    div#thumbnails {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    li.list-thumbnails img:hover {
        transform: scale(1.2);
    }

    li.list-thumbnails {
        list-style: none;
        text-align: center;
    }
   
    li.list-thumbnails img, img#vehicles {
        border-radius: 5px;
    }

    div#thumbnails {
        grid-column-start: 1;
        grid-row-start: 1;
    }

#image-display li{
    list-style-type: none;
}